.container-notification {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin : 2rem 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: #fff;
    color: #000;
    gap: 1rem;
    animation: slideIn 0.4s ease forwards;
}

.notification-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}

.notification .notification-logo {
    /* width: 2rem;
    height: 2rem; */
    font-size: 2.50rem;
    border-radius: 50%;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 1rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}